<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../layouts/header');-%>
</head>

<body>
  <!-- Main navbar -->
  <%-include('../layouts/navbar');-%>

  <!-- DAUREN -->
  <!-- ROUND-BODY -->
  <div style="width:100%; height:1rem ; background-color:#142850; z-index:-1;">
    <div style="background-color:white; border-radius:50px 50px 0 0; width:100%; height:100%;"></div>
  </div>

  <%-include('../layouts/menu');-%>

  <main>
    <section>
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <h3 class="mb-5">Create Product</h3>

                <form action="/product" method="POST" enctype="multipart/form-data">
                  <label class="form-label" for="image">Image</label>
                  <input type="file" id="image" class="form-control form-control-lg" name="image"/>

                  <label class="form-label" for="title">Title</label>
                  <input type="text" id="title" class="form-control form-control-lg" name="title"/>

                  <label class="form-label" for="body">Description</label>
                  <input type="text" id="body" class="form-control form-control-lg" name="body"/>

                  <br>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


  <!-- ROUND-END-BODY -->
  <div style="width:100%; height:1rem ; background-color:#142850; z-index:-1;">
    <div style="background-color:white; border-radius: 0 0 50px 50px; width:100%; height:100%;"></div>
  </div>


  <!-- BEIBARYS -->
  <!-- footer -->
  <%-include('../layouts/footer');-%>>


  <!--SCRIPTS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- DAUREN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../assets/scripts/index.js" charset="utf-8"></script>
  <!-- BEIBARYS -->
  <script src="../assets/scripts/biba.js" charset="utf-8"></script>


  <!-- ALAR -->
  <script src="../assets/scripts/click.js"></script>
  <script>setClickListener("/assets/sounds/click.mp3")</script>
</body>

</html>
