<a href="/auth/google">
  <button class="btn btn-lg btn-block btn-primary" style="background-color:white;">
    <text style="color: black;">Log in with </text><i class="fab fa-google" style=" color:red;"></i>
  </button>
</a>