<header>
  <section class="main-bar">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark" style="padding:0">

        <div style="margin: 2rem;">
          <button type="button" class="btn burger-dark" onclick="openNav()"><i class="fas fa-bars fa-2x"></i></button>
        </div>

        <a class="navbar-brand ml-auto" href="/" style="font-size: 200%; font-weight: bold;"><i class="fa fa-shopping-bag" aria-hidden="true"></i> &nbsp;Amazing</a>



        <ul class="nav ml-auto" style="margin-left:10px; text-align:center; margin-top:10px; margin-botton:0px;">
          <li class="nav-item">
            <a class="nav-link details-nav" href="address"><i class="fas fa-map-marker-alt fa-2x"></i>
              <br>
              <p>Адрес</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link details-nav" href="basket"><i class="fas fa-shopping-basket fa-2x"></i>
              <br>
              <p>Корзина</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link details-nav" href="/auth/login"><i class="fas fa-user-alt fa-2x"></i>
              <br>
              <p>Вход</p>
            </a>
          </li>

        </ul>
      </nav>
    </div>

  </section>
</header>