<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5</title>
    </head>
    <body>
        <p>Create Test</p>

        <form action="/user" method="POST">
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email">
            <br>
            <label for="firstname">Firstname</label><br>
            <input type="text" id="firstname" name="firstname">
            <br>
            <label for="lastname">Lastname</label><br>
            <input type="text" id="lastname" name="lastname">
            <br>
            <label for="phone">Phone</label><br>
            <input type="text" id="phone" name="phone">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>