<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5</title>
    </head>
    <body>
        <p>INDEX</p>
        <a href="/create">create user</a>
        <br>
        <a href="/show">show users</a>
    </body>
</html>