<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
      <%-include('layouts/header');-%>
  </head>

  <body>
    <!-- Main navbar -->
    <%-include('layouts/navbar');-%>

     <!-- ROUND-BODY -->
     <div style="width:100%; height:1rem ; background-color:#142850; z-index:-1;">
       <div style="background-color:white; border-radius:50px 50px 0 0; width:100%; height:100%;"></div>
     </div>

     <div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
   		<div class="cd-user-modal-container"> <!-- основной контейнер -->
   			<ul class="cd-switcher">
   				<li><a href="#0">Вход</a></li>
   				<li><a href="#0">Регистрация</a></li>
   			</ul>

   			<div id="cd-login"> <!-- форма входа -->
   				<form class="cd-form">
   					<p class="fieldset">
   						<label class="image-replace cd-email" for="signin-email">E-mail</label>
   						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<label class="image-replace cd-password" for="signin-password">Пароль</label>
   						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Пароль">
   						<a href="#0" class="hide-password">Скрыть</a>
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<input type="checkbox" id="remember-me" checked>
   						<label for="remember-me">Запомнить меня</label>
   					</p>

   					<p class="fieldset">
   						<input class="full-width" type="submit" value="Войти">
   					</p>
   				</form>

   				<p class="cd-form-bottom-message"><a href="#0">Забыли свой пароль?</a></p>
   				<!-- <a href="#0" class="cd-close-form">Close</a> -->
   			</div> <!-- cd-login -->

   			<div id="cd-signup"> <!-- форма регистрации -->
   				<form class="cd-form">
   					<p class="fieldset">
   						<label class="image-replace cd-username" for="signup-username">Имя пользователя</label>
   						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя пользователя">
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<label class="image-replace cd-email" for="signup-email">E-mail</label>
   						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<label class="image-replace cd-password" for="signup-password">Пароль</label>
   						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Пароль">
   						<a href="#0" class="hide-password">Скрыть</a>
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<input type="checkbox" id="accept-terms">
   						<label for="accept-terms">Я согласен с <a href="#0">Условиями</a></label>
   					</p>

   					<p class="fieldset">
   						<input class="full-width has-padding" type="submit" value="Создать аккаунт">
   					</p>
   				</form>

   				<!-- <a href="#0" class="cd-close-form">Close</a> -->
   			</div> <!-- cd-signup -->

   			<div id="cd-reset-password"> <!-- форма восстановления пароля -->
   				<p class="cd-form-message">Забыли пароль? Пожалуйста, введите адрес своей электронной почты. Вы получите ссылку, чтобы создать новый пароль.</p>

   				<form class="cd-form">
   					<p class="fieldset">
   						<label class="image-replace cd-email" for="reset-email">E-mail</label>
   						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
   						<span class="cd-error-message">Здесь сообщение об ошибке!</span>
   					</p>

   					<p class="fieldset">
   						<input class="full-width has-padding" type="submit" value="Восстановить пароль">
   					</p>
   				</form>

   				<p class="cd-form-bottom-message"><a href="#0">Вернуться к входу</a></p>
   			</div> <!-- cd-reset-password -->
   			<a href="#0" class="cd-close-form">Закрыть</a>
     		</div> <!-- cd-user-modal-container -->
     	</div> <!-- cd-user-modal -->

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <input type="text" id="mySearch" onkeyup="myFunction1()" placeholder="Поиск.." title="Type in a category">
        <ul id="myMenu">
        <li><a href="../pages/books.html">Книги</a></li>
        <li><a href="../pages/electronics.html">Электроника</a></li>
        <li><a href="../pages/pet.html">Зоотовары</a></li>
        <li><a href="../pages/shoes.html">Обувь</a></li>
        <li><a href="../pages/clothes.html">Одежда</a></li>
        <li><a href="../pages/toys.html">Игрушки</a></li>
        <li><a href="../pages/sport.html">Спорт</a></li>
        <li><a href="../pages/hom.html">Дом</a></li>
        <li><a href="../pages/furniture.html">Мебель</a></li>
        <li><a href="../pages/health.html">Здоровье</a></li>
        <li><a href="../pages/beauty.html">Красота</a></li>
        </ul>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding: 20px 8px 20px 32px; align-self: flex-end;">
        <label class="btn btn-outline-light active">
          <input type="radio" name="options" id="option1" checked><i class="fas fa-sun" style="color:orange;"></i>
        </label>
        <label class="btn btn-outline-dark">
          <input type="radio" name="options" id="option2"><i class="fas fa-moon"></i>
        </label>
      </div>
    </div>

    <!-- main body -->
    <main>
      <!-- address container -->
      <div class="container-address address-resp">
            <h1 style="font-size: 400%; text-align: center;">Адрес</h1>
      <form action="action_page.php">
        <form class="form-inline" action="/action-page.php">
          <div class="row">
          <div class="col-lg-6">
            <label for="fname">Имя</label>
            <input type="text" id="fname" name="firstname" placeholder="Ваше имя..">
          </div>
          <div class="col-lg-6">
            <label for="lname">Фамилия</label>
            <input type="text" id="lname" name="lastname" placeholder="Ваша фамилия..">
            </div>
          </div>
        </form>
        <label for="region">Область</label>
        <select id="region" name="region">
          <option value="Astana">Нур-Султан (Астана)</option>
          <option value="Almaty">Алматы</option>
          <option value="Akmola">Акмолинская область</option>
          <option value="Aktobe">Актюбинская область</option>
          <option value="Almaty-r">Алматинская область</option>
          <option value="Atyrau">Атырауская область</option>
          <option value="WKR">Западно-Казахстанская область</option>
          <option value="Zhambyl">Жамбылская область</option>
          <option value="Qaragandy">Карагандинская область</option>
          <option value="Qostanay">Костанайская область</option>
          <option value="Qyzylorda">Кызылординская область</option>
          <option value="MANGYSTAU">Мангистауская область</option>
          <option value="SKR">Южно-Казахстанская область</option>
          <option value="NKR">Северно-Казахстанская область</option>
          <option value="EKR">Восточно-Казахстанская область</option>
        </select>
        <label for="city">Город</label>
        <input type="text" id="city" name="city" placeholder="Ваш город..">
        <div class="row">
          <div class="col-lg-6">
            <label for="street">Улица</label>
            <input type="text" id="street" name="street" placeholder="Ваша улица..">
          </div>
          <div class="col-lg-3 col-sm-6">
            <label for="house">Дом</label>
            <input type="text" id="house" name="house" placeholder="Ваш дом..">
          </div>
          <div class="col-lg-3 col-sm-6">
            <label for="flat">Квартира</label>
            <input type="text" id="flat" name="flat" placeholder="Ваша квартира..">
          </div>
        </div>

        <label for="Add-info">Дополнительная информация про адрес</label>
        <textarea id="Add-info" name="Add-info" placeholder="Мой адрес находится..." style="height:200px"></textarea>

        <input type="submit" value="Отправить">
      </form>
    </div>

    <!-- ROUND--END-BODY -->
    <div style="width:100%; height:1rem ; background-color:#142850; z-index:-1;">
        <div style="background-color:white; border-radius: 0 0 50px 50px; width:100%; height:100%;"></div>
    </div>


    <!-- BEIBARYS -->
    <!-- footer -->
    <%-include('layouts/footer');-%>>


<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!-- DAUREN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../assets/scripts/index.js" charset="utf-8"></script>
<!-- BEIBARYS -->
<script src="../assets/scripts/biba.js" charset="utf-8"></script>
<!-- ALAR -->
<script src="../assets/scripts/click.js"></script>
<script>setClickListener("../assets/sounds/click.mp3")</script>

  </body>
</html>
