<footer>
    <section id="main-footer">
        <div class="container">

            <div class="row" style="padding-top:2.5rem;">
                <div class="col-lg-4">
                    <button class="accordion">Покупателям</button>
                    <div class="panel" style="background-color: #142850;">
                        <ul class="footer-block">
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Как сделать заказ</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Способы оплаты</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Доставка</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Возврат товара</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Возврат денежных средств</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Правила продажи</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Правила пользования торговой площадкой</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Вопросы и ответы</a></li>
                    </div>
                </div>

                <div class="col-lg-4">
                    <button class="accordion">Партнерам</button>
                    <div class="panel" style="background-color: #142850;">
                        <ul class="footer-block">
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Продавцам</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Откройте пункт выдачи</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Франшизный пункт выдачи</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4" style="margin-right: 0; padding-right: 0;">
                    <button class="accordion">Компания</button>
                    <div class="panel" style="background-color: #142850;">
                        <ul class="footer-block">
                            <li><a rel="nofollow" href="./pages/about.html" style="color: lightgrey;">О нас</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Реквизиты</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Пресс-центр</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Контакты</a></li>
                            <li><a rel="nofollow" href="#" style="color: lightgrey;">Bug Bounty</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <br><br>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="border: 0.05rem solid white; border-radius: 9px; padding: 0px; margin-right: 50px;"><img src="https://www.yuuju.hn/assets/img/appGallery-es.png" style="width:150px;"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="border: 1px solid white; border-radius: 6px; padding: 0px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" style="width:150px;"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="border: 2px solid lightgrey; border-radius: 9px; padding: 0px; margin-left: 50px;"><img src="https://getstayactive.com/wp-content/uploads/2017/10/App-Store-Logo.png" style="width:150px; height:45px;"></a>
                </li>
            </ul>
            <br>

            <div class="under-fav">

            </div>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-vk fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube fa-2x icon-youtube"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x icon-instagram"></i></a>
                </li>

            </ul>

            <div class="nav justify-content-center">

                <span class="footer_defination">2021-2022 © Amazing</span>
                <span class="footer_defination" style="padding-left: 5px;"> - современный интернет-магазин для тех кто ищет аксессуары для животных, книги, </span>
                <span class="footer_defination">электроники и многие другие интересные товары. Все права защищены. Доставка по всему Казахстану!</span>

            </div>

            <ul class="nav justify-content-center">
                <li class="nav-item footer_pay_sistem" style="color: white">
                    <i class="fab fa-cc-visa fa-2x"></i>
                </li>
                <li class="nav-item footer_pay_sistem" style="color: white">
                    <i class="fab fa-cc-mastercard fa-2x"></i>
                </li>
                <li class="nav-item footer_pay_sistem">
                    <img class="img-bord-around" src="https://play-lh.googleusercontent.com/VzuwBDTtj6qCoJWIxikZAJ8Y5I1YGdlxzWhUo3-Xe51J7p_vD-RYtmpb0ffmh64iWeg" alt="kaspi" style="width:30px;">
                </li>
                <li class="nav-item footer_pay_sistem">
                    <img class="img-bord-around" src="https://play-lh.googleusercontent.com/AcTuzpsadAJTixBYyIpMvr8IbSX_hwZkX1el4WldG9L6hncSa2sBhehqnJBwITZHF2Bi" alt="halyk" style="width:30px;">
                </li>
            </ul>

        </div>
    </section>
</footer>